<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>
            <%= pageTitle %>
        </h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <!-- onsubmit="return validateForm();" -->
            <input type="hidden" name="_id" value="<%= training._id %>">

            <label for="trainingType">
                <%= __('training.fields.trainingType') + ':' %><abbr title="required" aria-label="required">*</abbr>
            </label>
            <select id="trainingType" name="trainingType"
                class="<%= validationErrors.find(e => e.path.includes('trainingType')) ? 'error-input' : '' %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>>
                <% if (formMode=='showDetails' || formMode=='edit' ) { %>
                    <>
                        <option value="Nauka driftu" <%=(training.trainingType=="Nauka driftu" ) ? 'selected' : '' %>>
                            Nauka driftu
                        </option>
                        <option value="Jazda torowa" <%=(training.trainingType=="Jazda torowa" ) ? 'selected' : '' %>>
                            Jazda torowa
                        </option>
                        <option value="Niebezpieczeństwa drogowe" <%=(training.trainingType=="Niebezpieczeństwa drogowe"
                            ) ? 'selected' : '' %>>
                            Niebezpieczeństwa drogowe
                        </option>
                        <% } else { %>
                            <option value="" selected disabled>-- Wybierz opcję --</option>
                            <option value="Nauka driftu">Nauka driftu</option>
                            <option value="Jazda torowa">Jazda torowa</option>
                            <option value="Niebezpieczeństwa drogowe">Niebezpieczeństwa drogowe</option>
                            <% } %>
            </select>
            <span id="errorTrainingType" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('trainingType'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('trainingType')).message %>
                        <% } %>
            </span>

            <label for="duration">
                <%= __('training.fields.duration') + ':' %><abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="number" name="duration" id="duration"
                class="<%= validationErrors.find(e => e.path.includes('duration')) ? 'error-input' : '' %>"
                placeholder="1-3 godzin" value="<%= training.duration%>" <%=(formMode=='showDetails' ) ? 'disabled' : ''
                %>/>
            <span id="errorDuration" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('duration'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('duration')).message %>
                        <% } %>
            </span>

            <label for="level">
                <%= __('training.fields.level') + ':' %><abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="number" name="level" id="level"
                class="<%= validationErrors.find(e => e.path.includes('level')) ? 'error-input' : '' %>"
                placeholder="(początkujący)1-3(zaawansowany)" value="<%= training.level%>" <%=(formMode=='showDetails' )
                ? 'disabled' : '' %>/>
            <span id="errorLevel" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('level'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('level')).message %>
                        <% } %>
            </span>

            <label for="price">
                <%= __('training.fields.price') + ':' %><abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="number" name="price" id="price" value="<%= training.price%>"
                class="<%= validationErrors.find(e => e.path.includes('price')) ? 'error-input' : '' %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>/>
            <span id="errorPrice" class="errors-text">
                <% if (validationErrors.find(e=> e.path.includes('price'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('price')).message %>
                        <% } %>
            </span>

            <% if (formMode=='showDetails' ) { %>
                <div class="form-buttons">
                    <a href="/trainings/edit/<%= training._id %>" class="list-actions-button-edit">
                        <%= __('form.actions.edit') %>
                    </a>
                </div>
                <% } else if(formMode=='edit' ) { %>
                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text">
                            <% if(validationErrors.length>0){%>
                                <%= __('form.errorsSummary') %>
                                    <% } %>
                        </p>
                        <input type="submit" value="<%=btnLabel%>" class="form-button-submit" />
                        <a class="form-button-cancel" href="/trainings">
                            <%= __('form.actions.cancel') %>
                        </a>
                    </div>
                    <% } else if(formMode=='createNew' ){%>
                        <div class="form-buttons">
                            <p id="errorsSummary" class="errors-text">
                                <% if(validationErrors.length>0){%>
                                    <%= __('form.errorsSummary') %>
                                        <% } %>
                            </p>
                            <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                            <a class="form-button-cancel" href="/trainings">
                                <%= __('form.actions.cancel') %>
                            </a>
                        </div>
                        <% } %>
        </form>
        <div style="display: none">
            <span id="errorMessage-required">
                <%= __('validationMessage.fieldRequired') %>
            </span>
            <span id="errorMessage-between100and500">
                <%= __('validationMessage.fieldBetween100and500') %>
            </span>
            <span id="errorMessage-between1and3">
                <%= __('validationMessage.fieldBetween1and3') %>
            </span>
            <span id="errorMessage-isNumber">
                <%= __('validationMessage.fieldIsNumber') %>
            </span>
            <span id="errorMessage-formErrors">
                <%= __('validationMessage.fieldFormErrors') %>
            </span>
        </div>

        <% if (formMode=='showDetails' || formMode=='edit' ) { %>
            <h2>
                <%= __('training.form.employee') %>
            </h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            <%= __('emp.fields.firstName') %>
                        </th>
                        <th>
                            <%= __('emp.fields.lastName') %>
                        </th>
                        <th>
                            <%= __('emp.fields.phone') %>
                        </th>
                        <th>
                            <%= __('history.fields.dateFrom') %>
                        </th>
                        <th>
                            <%= __('history.fields.dateTo') %>
                        </th>
                        <th>
                            <%= __('history.fields.opinion') %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let t of training.trainingHistory) { %>
                        <tr>
                            <td><a href="/employees/details/<%= t.employee._id %>">
                                    <%= t.employee.firstName %>
                                </a></td>
                            <td>
                                <%= t.employee.lastName%>
                            </td>
                            <td>
                                <%= t.employee.phone %>
                            </td>
                            <td>
                                <%= t.dateFrom %>
                            </td>
                            <td>
                                <%= t.dateTo %>
                            </td>
                            <td>
                                <%= t.opinion %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>
                <% if (formMode=='showDetails' || formMode=='edit' ) { %>
                    <a class="form-button-return" href="/trainings">
                        <%= __('form.actions.return') %>
                    </a>
                    <% } %>
    </main>

    <%- include('../../fragments/footer.ejs') %>